.dashbord-wrapper {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 300px;
  opacity: 0.8;
  margin: 0 auto;
  min-height: 150vh;
}

.dashbord-header {
  display: flex;
  justify-content: space-between;
}

.logged-user {
  display: flex;
  flex-direction: column;
  margin: 30px;
  font-weight: 600;
  align-items: flex-end;
}

.logged-user-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

#dark .logged-user-wrapper {
  color: rgb(245, 245, 245);
}

.logout-container {
  margin-top: 7px;
  display: flex;
  justify-content: flex-end;
  padding: 15px 5px 5px 35px;
  max-width: 80px;
  background-color: rgb(65, 64, 64);
  border-radius: 70% 2% 30% 50%;
}

#dark .logout-container {
  background-color: rgb(245, 245, 245);
}

.logout-container button {
  margin-bottom: 5px;
  margin-right: 7px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: rgb(65, 64, 64);
  color: white;
  display: flex;
  gap: 3px;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}

#dark .logout-container button {
  background-color: rgb(245, 245, 245);
  color: rgb(65, 64, 64);
  font-weight: 600;
}

.header {
  font-size: 30px;
  font-weight: 600;
  margin: 30px auto;
}

#dark .header {
  color: rgb(245, 245, 245);
}

.form-header {
  margin: 0 auto;
}

.form-container {
  margin: 20px;
  border-radius: 5px;
  padding: 30px 15px;
  background-color: rgb(245, 245, 245);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 50px;
}

#dark .form-container {
  background-color: rgb(37, 37, 37);
}

.form-container form {
  margin: 15px;
  display: flex;
  gap: 10px;
  max-width: 100%;
  justify-content: space-between;
}

.form-container form input {
  padding: 7px;
  border: 2px solid rgba(128, 128, 128, 0.356);
  border-radius: 3px;
}

.submit-btn {
  padding: 5px 15px;
  color: white;
  font-weight: 600;
  background-color: rgb(65, 64, 64);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#dark .submit-btn {
  background-color: rgb(245, 245, 245);
  color: rgb(65, 64, 64);
}

.attendees-container {
  margin: 20px;
}

#dark .attendees-container {
  color: rgb(245, 245, 245);
}

.attendee-col {
  font-size: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr {
  border-bottom: 1px solid rgb(221, 219, 219);
}

.edit-btn {
  background-color: #3b43d6;
}

.del-btn {
  background-color: rgb(238, 86, 40);
}

.save-btn {
  background-color: rgb(95, 197, 27);
}

.cancel-btn {
  background-color: rgb(197, 27, 27);
}

.btn {
  color: white;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
  cursor: pointer;
}

.attendees-header {
  margin: 30px 0;
}

@media (460px <= width <= 815px) {
  .form-container form {
    display: grid;
    justify-content: normal;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-template-areas:
      "firstname lastname"
      "email age"
      "submit submit";
  }
  .submit-btn {
    grid-area: submit;
    max-width: 50%;
    margin: 0 auto;
    padding: 5px 30px;
  }
}

@media (width <= 460px) {
  .form-container form {
    display: flex;
    flex-direction: column;
  }

  .header {
    text-align: center;
  }

  .submit-btn {
    max-width: 50%;
    margin: 0 auto;
    padding: 5px 30px;
  }
  .attendee-col {
    font-size: 12px;
  }
}

@media (width <= 370px) {
  .attendee-col {
    font-size: 12px;
  }

  th,
  td {
    text-align: left;
    padding: 1px;
  }
}
