.login-wrapper {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 130px auto;
  padding-top: 35px;
  text-align: center;
  min-width: 260;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 50px;
  margin-bottom: 5px;
}

#light .login-container {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  background-blend-mode: multiply, multiply;
}
#dark .login-container {
  background-color: rgb(37, 37, 37);
}

.login-header {
  font-size: 30px;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
}

#dark .login-header {
  color: white;
}

.login {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 600;
}

#dark .login {
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 30px 50px 50px 50px;
}

.login-form input {
  padding: 7px;
  margin-bottom: 20px;
  border: 2px solid rgba(128, 128, 128, 0.356);
  border-radius: 3px;
}

.login-form input::placeholder {
  color: rgb(51, 50, 50);
}

p {
  color: #444f69d2;
  font-size: 13px;
  font-weight: 600;
}

#dark p {
  color: rgb(245, 245, 245);
}

.login-btn {
  margin: 10px 45px;
  padding: 10px 15px;
  color: white;
  font-weight: 600;
  background-color: #444f69d2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 3px #999;
}

.login-btn:hover {
  background-color: #444f69f5;
}

.login-btn:active {
  background-color: #444f69f5;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

#dark .login-btn {
  background-color: rgb(245, 245, 245);
  color: rgb(58, 57, 57);
}
#dark .login-btn:hover {
  background-color: rgb(196, 196, 196);
}
